.flashcard-container {
  margin-bottom: 50px;
  /* border: 2px solid red; */
  height: 80vh;
}

.flashcard-container .progress-bar {
  padding: 5px 0;
  /* margin: 20px 0rem 0; */
  border: 2px solid #000;
  box-shadow:
    #ffe8be 0 -4px,
    #000 0 4px;

  height: 5px;
  border-radius: 20px;
  background-image: linear-gradient(
    90deg,
    #ffb7b7,
    rgb(255, 230, 109),
    #e5ffd2 /* rgb(255, 230, 109) */
  );
}

.card-header {
  margin: 20px;
}

.flashcard-card-content {
  width: 30rem;
  height: 30rem;
  margin: 30px auto;

  /* border: 2px solid #000; */
  border-radius: 20px;

  perspective: 1000px;
  position: relative;
}

.card-flipper {
  width: 100%;
  height: 100%;
  position: relative;

  border: 2px solid #000;
  border-radius: 20px;

  transform-style: preserve-3d;
  transition: transform 0.6s ease;

  display: flex; /* ✅ ADD THIS */
  flex-direction: column;
}

/* Flip trigger */
.flashcard-card-content.flip .card-flipper {
  transform: rotateY(180deg);
}

/* BOTH SIDES */
.front-card,
.back-card {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  backface-visibility: hidden;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  min-height: 0;

  white-space: pre-wrap;
  word-break: break-word; /* prevents overflow */

  overflow: hidden;
}

/* FRONT */
.front-card {
  transform: rotateY(0deg);
  background-color: #fff;
  min-height: 0;
}

/* BACK */
.back-card {
  transform: rotateY(180deg);
  /* A soft, aged paper color */
  background-color: #fffdfa;

  /* Semi-transparent dots so they blend with the paper color */
  background-image: radial-gradient(rgba(0, 0, 0, 0.15) 1px, transparent 1px);
  background-size: 25px 25px;

  min-height: 0;
}

/* ONLY inner content scrolls */
.card-scrollable-content {
  flex: 1;
  overflow-y: auto;
  padding: 30px;
  min-height: 0; /* extra safety */
  /* outline: 2px solid red; */
  /* contain: layout paint; */
  /* transform: translateZ(0);  */
}

/* Bottom strip */
.flip-section {
  border-top: 2px solid black;
  padding: 12px 20px;
  background: #f7dd7d;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 10px;

  font-weight: bold;
  font-family: 'Gloria Hallelujah', sans-serif;

  border-bottom: 2px solid #f7dd7d;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.card-footer-ctas {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card-footer-ctas button {
  height: 3rem;
  font-weight: bold;
  border: 2px dashed #000;
  border-radius: 20px;
  background-color: #f7dd7d;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
  padding: 0 15px;
}

.card-footer-ctas button:hover {
  background-image: linear-gradient(60deg, rgb(255, 230, 109), #e5ffd2);
}
