.card-question,
.card-solution {
  font-size: 16px;
  /* font-weight: bold; */
  letter-spacing: 1px;
  font-family: 'inter', sans-serif;
}

.card-question {
  padding-left: 10px;
}

.card-question h1,
.card-solution h1 {
  border-bottom: 4px solid #f7dd7d;
  text-transform: uppercase;
  width: fit-content;
}

.card-solution {
  margin-top: 20px;
}

.card-solution h1 {
  margin-left: 10px;
}

.quote {
  background-color: #fff;
  border: 1px solid #f7dd7d;
  border-radius: 10px;
  padding: 10px;
}

.card-question h2,
.card-solution h2 {
  border-left: 4px solid #f7dd7d;
  margin: 15px 0;
  padding-left: 10px;
  text-transform: capitalize;
  width: fit-content;
  font-size: 16px;
}

.content-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  font-weight: bold;
}

.tag-chip {
  display: inline-block;
  padding: 5px 15px;
  margin-right: 10px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: #f7dd7d;
  text-transform: capitalize;
}

.date {
  font-size: 14px;
  margin-top: 8px;
  /* box-shadow: black 4px -4px; */
  font-family: 'Gloria Hallelujah';
  letter-spacing: 1.5px;
  padding: 0 8px;
}
