.empty-state {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  /* z-index: -1; */
  margin-top: 5rem;

  font-family: 'Gloria Hallelujah', sans-serif;
  text-transform: capitalize;
}
