.page-header-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  /* border-bottom: 2px solid #dbdce6; */
  /* border-bottom: 2px solid black; */
}

/* old header styles */

/* 
.page-header-section h1 {
  color: black;
  padding: 0px 10px 6px;
  border: 2px solid #000;
  box-shadow:
    white -6px -6px inset,
    #e5ffd2 -8px -8px;
  font-size: 24px;
  background-color: #e5ffd2;
  text-transform: capitalize;
  width: 100%;
  text-align: center;
} */

.page-header-section h1 {
  color: black;
  padding: 8px 16px;
  border: 3px solid #000;
  box-shadow:
    /* black 0px 0px 0px 2px inset, */
    /* rgb(255, 255, 255) 10px -10px 0px -3px, */ black
    6px -6px;
  font-size: 24px;
  /* rotate: -2deg; */
  /* background-color: #e5ffd2; */
  background-image: linear-gradient(
    30deg,
    rgb(255, 230, 109),
    #e5ffd2 /* rgb(255, 230, 109) */
  );
  width: fit-content;
}

.header-right-content {
  /* width: 4rem;
  height: 4rem;
  border: 3px solid #000;
  rotate: -12deg;
  border-radius: 8px;
  background-color: #ffe8be; */
  padding: 10px;
  margin-right: 12px;
  font-size: 18px;
  font-family: 'Gloria Hallelujah', san-serif;
  letter-spacing: 2px;

  display: flex;
  align-items: center;
  justify-content: center;
}
