main {
  width: 80%;
  max-width: 1200px;
  display: flex;
  /*margin left and right auto to center the main element horizontally, and margin top and bottom to create space around it */
  margin: 100px auto 0;
  font-family: 'Manrope', sans-serif;
}

main > div {
  width: 100%;
}
