* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
}

/* Highlight Styling for most browsers */
::selection {
  background: #f7dd7d; /* Custom background color */
  color: #000000; /* Custom text color */
}

/* Specific highlight styling for Firefox */
::-moz-selection {
  background: #f7dd7d;
  color: #000000;
}

.highlight {
  background: #f7dd7d;
  color: #000000;
  width: fit-content;
  padding: 0 2px;
}

.highlight-red {
  background: #ffb7b7;
  color: #000000;
  width: fit-content;
}

.dotted-background {
  /* Set the background color (paper color) */
  background-color: #fff;

  /* Create the dots using a radial gradient */
  /* '1px' is the radius of the dot, #ccd1d1 is the dot color */
  background-image: radial-gradient(#ccd1d1 1px, transparent 1px);

  /* background-size controls the spacing between dots (e.g., 20px) */
  background-size: 20px 20px;
}

.parched-notebook {
  /* A soft, aged paper color */
  background-color: #fffdfa;

  /* Semi-transparent dots so they blend with the paper color */
  background-image: radial-gradient(rgba(0, 0, 0, 0.15) 1px, transparent 1px);
  background-size: 25px 25px;
}

.grid-paper {
  /* Your light parched color  */
  /* background-color: #fefaf2;*/
  background-color: #fffdfa;

  /* background-image: */
  /* Horizontal lines */
  /* linear-gradient(#e0d7c6 1px, transparent 1px), */
  /* Vertical lines */
  /* linear-gradient(90deg, #e0d7c6 1px, transparent 1px); */

  /* below makes the line subtle than the above rule */
  background-image:
    linear-gradient(rgba(224, 215, 198, 0.5) 1px, transparent 1px),
    linear-gradient(90deg, rgba(224, 215, 198, 0.5) 1px, transparent 1px);

  background-size: 24px 24px; /* The size of the grid squares */
}

* {
  scrollbar-width: thin;
  scrollbar-color: #000 transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #000;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #000;
}
